agenteia-txt-audio-image-pdf.json
{"createdAt":"2025-04-28T19:41:10.247Z","updatedAt":"2025-04-28T19:44:54.672Z","id":"r2sGSDWc3Vr0zneI","name":"AgenteIA-Txt-Audio-Image-PDF","active":false,"nodes":[{"parameters":{"operation":"push","list":"={{ $('Variáveis Globais').item.json.telefone }}","messageData":"={{ JSON.stringify($json.textMessage) }}","tail":true},"id":"84aab92a-5594-496a-b675-63c8945ca846","name":"Redis","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-3440,220]},{"parameters":{"amount":0},"id":"c5905156-4bc2-4d77-8eab-750355420f5b","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-3220,220],"webhookId":"c0f4b9ff-3d51-4f2c-95d6-8beb0c51b01a"},{"parameters":{"operation":"get","key":"={{ $('Variáveis Globais').item.json.telefone }}","options":{}},"id":"7986bd11-51b1-458b-a2fc-a1cba2c2ec56","name":"Redis1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-3000,220]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"21fd20d7-f940-4a66-91d5-5ea4c031bb50","leftValue":"={{ $json.propertyName.last().replace(/^\"|\"$/g, \"\") }}","rightValue":"={{ $('Merge').item.json.textMessage }}","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"9e9db3f0-fd54-4986-9e4f-3f8c801a22f2","name":"If","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2780,220]},{"parameters":{"assignments":{"assignments":[{"id":"37f63b88-4a52-4421-aa95-db9114e521bc","name":"listaMensagens","value":"={{ $json.propertyName.join(', ') }}","type":"string"},{"id":"267bdcd5-e1ea-49f0-abd7-97451c843239","name":"key","value":"={{ $('Variáveis Globais').item.json.telefone }}","type":"string"}]},"options":{}},"id":"99bc3f27-b016-4cd2-8f22-12c2dc646e68","name":"Edit Fields1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2560,220]},{"parameters":{"method":"POST","url":"=","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{ $('Webhook').item.json[\"body\"][\"data\"][\"key\"][\"remoteJid\"] }}\",\n    \"text\": \"{{ $json.text.replace(/\\n/g, \"\\\\n\").replace(/['\"]/g, '') }}\"\n}","options":{}},"id":"daee19ed-a200-45df-870e-3cad33ee9399","name":"Responde texto","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-360,-140]},{"parameters":{"operation":"delete","key":"={{ $('Variáveis Globais').item.json.telefone }}"},"id":"e339ca15-2fd0-4d28-b202-307459f6f286","name":"Redis2","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2360,220]},{"parameters":{"operation":"toBinary","sourceProperty":"data","options":{"fileName":"file.ogg","mimeType":"application/ogg"}},"id":"aba4ad21-cad1-48a1-9887-253d39e30eb4","name":"Convert to File","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-4340,140]},{"parameters":{"assignments":{"assignments":[{"id":"3c5ccbc9-69d1-4b13-a7c3-e6945bc8c655","name":"data","value":"={{ $('Webhook').item.json.body.data.message.base64 }}","type":"string"}]},"options":{}},"id":"bac3305f-a018-40fa-b79c-5bc06889959c","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4500,140]},{"parameters":{"operation":"toBinary","sourceProperty":"data","options":{"fileName":"file.png","mimeType":"image/png"}},"id":"d92efa4e-712c-4815-9b1d-bc6be43a6e40","name":"Convert to File1","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-4340,280]},{"parameters":{"assignments":{"assignments":[{"id":"3c5ccbc9-69d1-4b13-a7c3-e6945bc8c655","name":"data","value":"={{ $('Webhook').item.json.body.data.message.base64 }}","type":"string"}]},"options":{}},"id":"29ffa9ec-4010-4339-9ff6-21f2e0acdf7f","name":"Edit Fields3","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4500,280]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"52aaf749-fe4f-44e4-880e-15b2bfc027f1","leftValue":"={{ $('Webhook').item.json[\"body\"][\"data\"][\"messageType\"] }}","rightValue":"extendedTextMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"e514e613-fd6a-48bd-b0ae-bae2448c810e","leftValue":"={{ $('Webhook').item.json[\"body\"][\"data\"][\"messageType\"] }}","rightValue":"conversation","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $('Webhook').item.json[\"body\"][\"data\"][\"messageType\"] }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals"},"id":"c9a7b9fa-752e-487a-8ac2-ffb904d21521"}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"c0e434dd-1268-421d-b81b-3a5e90ed9550","leftValue":"={{ $('Webhook').item.json[\"body\"][\"data\"][\"messageType\"] }}","rightValue":"imageMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"image"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"ead847ea-debe-4c53-bc85-e658f6f79321","leftValue":"={{ $('Webhook').item.json.body.data.message.documentMessage.url }}","rightValue":"url","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"document"}]},"options":{}},"id":"d6e8a664-f958-4630-9acc-dccb7353eee8","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-4800,140]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e142ba2c-0b2d-4d06-9c20-41164898d145","leftValue":"={{ $('Webhook').item.json[\"body\"][\"data\"][\"messageType\"] }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"84b6e91c-5e7c-4604-8609-f8a0e6fa8b01","leftValue":"={{ $json.text }}","rightValue":".wav,. mp3, .mov, .mkv, .pdf, .jpeg, .jpg, .png, .webp","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.text.match(/https:\\/\\/.*\\.(jpeg|jpg|png|webp)/g) != null }}","rightValue":"https","operator":{"type":"boolean","operation":"true","singleValue":true},"id":"d35f0f03-360e-47e9-a72b-9749a4323ded"}],"combinator":"and"},"renameOutput":true,"outputKey":"imagem"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7e5907c4-8b5b-4803-b269-3c1453efee15","leftValue":"={{ $json.text.match(/https:\\/\\/.*\\.(pdf)/g) != null }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"pdf"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"220dfbb2-989f-466f-978c-8a5d76410ddb","leftValue":"={{ $json.text.match(/https:\\/\\/.*\\.(wav|mp3|mov|mkv)/g) != null }}","rightValue":"video","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"video"}]},"options":{}},"id":"5151a075-856d-4365-86c7-9013f74d4e3d","name":"Switch1","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-860,220]},{"parameters":{"method":"POST","url":"=","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey"}]},"sendBody":true,"specifyBody":"json","jsonBody":"=\n{\n    \"number\": \"{{ $('Webhook').item.json[\"body\"][\"data\"][\"key\"][\"remoteJid\"] }}\",\n    \"mediatype\": \"image\",\n    \"mimetype\": \"image/png\",\n    \"caption\": \"Imagem do Produto\",\n    \"media\": \"{{ $('AI Agent').item.json.output }}\",\n    \"fileName\": \"Imagem.png\"\n}","options":{}},"id":"34057bb2-5e5e-4a5f-aa5d-2607ff0d4259","name":"Responde imagem","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-360,20]},{"parameters":{"method":"POST","url":"=","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{ $('Webhook').item.json[\"body\"][\"data\"][\"key\"][\"remoteJid\"] }}\",\n    \"mediatype\": \"document\",\n    \"mimetype\": \"document/pdf\",\n    \"caption\": \"Arquivo PDF\",\n    \"media\": \"{{ $('AI Agent').item.json.output }}\",\n    \"fileName\": \"arquivo.pdf\"\n}","options":{}},"id":"a935a315-335d-454a-b452-8d167bcf4d82","name":"Responde pdf","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-360,180]},{"parameters":{"method":"POST","url":"=","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{ $('Webhook').item.json[\"body\"][\"data\"][\"key\"][\"remoteJid\"] }}\",\n    \"mediatype\": \"video\",\n    \"mimetype\": \"video/mp4\",\n    \"caption\": \"Vídeo de Introdução\",\n    \"media\": \"{{ $('AI Agent').item.json.output }}\",\n    \"fileName\": \"video.mp4\"\n}","options":{}},"id":"622b36fd-4841-4b66-a50c-2a54b5c430af","name":"Responde vídeo","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-360,340]},{"parameters":{"assignments":{"assignments":[{"id":"50cebc66-2dbc-4c7a-a09e-83ffb0f52991","name":"textMessage","value":"={{ $('Variáveis Globais').item.json.mensagem }}","type":"string"}]},"options":{}},"id":"91c52cf8-f585-40ea-a0df-b13c2e6327f7","name":"Edit Fields4","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4500,0]},{"parameters":{"assignments":{"assignments":[{"id":"a1e66db0-00dc-481d-951c-1fde558e268e","name":"text","value":"={{ $json.output.split('\\n\\n') }}","type":"array"}]},"options":{}},"id":"f2db4d59-dc61-4a30-88a5-a27d95c443cd","name":"Edit Fields5","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1780,220]},{"parameters":{"fieldToSplitOut":"text","options":{}},"id":"1a776d30-23e8-4926-9aee-8218aedb468e","name":"Split Out","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-1600,220]},{"parameters":{"options":{}},"id":"37d5bbec-d1bd-48b1-8ea4-4c730d9b5010","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1380,220]},{"parameters":{},"id":"58c0e618-111b-4761-b5dd-0c6a1cb8441d","name":"Replace Me","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1120,100]},{"parameters":{"amount":3},"id":"45dea36e-3004-4b2c-8d55-128e0b7a7ef3","name":"Wait1","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-1120,360],"webhookId":"20d00dc1-91ed-4b45-9084-025c3c44452a"},{"parameters":{"assignments":{"assignments":[{"id":"8d88c137-383f-4307-b3cc-1f6a560ea67b","name":"telefone","value":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","type":"string"},{"id":"7e2f520e-4952-425b-82ca-792cc46680d4","name":"mensagem","value":"={{ $('Webhook').item.json.body.data.message.conversation }}{{ $('Webhook').item.json.body.data.message.extendedTextMessage.text }}","type":"string"}]},"options":{}},"id":"b7dca88f-5c96-4669-8da4-1cb21a1cd55e","name":"Variáveis Globais","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-5060,180]},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"id":"bd78b99b-f837-438f-9717-a8c6be8a8e2c","name":"OpenAI","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[-4200,140]},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"text":"Descreva todo o conteudo da imagem. Responda sem acento, sem hifens","inputType":"base64","options":{}},"id":"dc26950e-0f6a-4e64-800a-b61055e2de30","name":"OpenAI1","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[-4200,280]},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Variáveis Globais').item.json.telefone }}","contextWindowLength":20},"id":"f6d0316a-0306-4cda-9f33-ebe6214fcf7a","name":"Postgres Chat Memory","type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.1,"position":[-1680,500]},{"parameters":{"httpMethod":"POST","path":"aimarcela","options":{}},"id":"22921f5a-4d89-4bb6-8b2d-8b7e27c44673","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-5280,180],"webhookId":"89c7e4c1-1b67-4209-ba3d-1cf0bea15f9c"},{"parameters":{"numberInputs":4},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[-3640,200],"id":"f39cd37d-7d78-40b9-9110-1a175bbf717c","name":"Merge"},{"parameters":{"assignments":{"assignments":[{"id":"e588faa1-978e-497f-8e40-39d70a808bb1","name":"textMessage","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4060,140],"id":"337e9de3-3b30-4a91-a49f-2068d4fb5f06","name":"Edit Fields8"},{"parameters":{"assignments":{"assignments":[{"id":"8a3a810c-6f41-4180-8571-17c988f6b334","name":"textMessage","value":"={{ $json.content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4060,280],"id":"d494e50b-dfa8-42a6-b034-f94468e05c09","name":"Edit Fields9"},{"parameters":{"assignments":{"assignments":[{"id":"5e18f57d-9d02-4ab4-99ec-92201f282fa6","name":"base64","value":"={{ $('Webhook').item.json.body.data.message.base64 }}","type":"string"}]},"options":{}},"id":"66d14048-c4db-4f95-9445-aef391e0fa4f","name":"separa o base1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4500,420]},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{}},"id":"4040c93f-e303-4be5-9596-c635fcc0c253","name":"Converte documento","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-4340,420]},{"parameters":{"operation":"pdf","options":{}},"id":"3fcaace0-1990-4dc1-b2f3-787b85210a0d","name":"Extract from File","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-4200,420]},{"parameters":{"assignments":{"assignments":[{"id":"0115a121-aa4c-4c57-8c9b-e258d5097b67","name":"textMessage","value":"={{ $json.text }}","type":"string"}]},"options":{}},"id":"4f2428ec-27e6-4bc1-9e76-84c758d4dc27","name":"separa o telefone e texto3","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4060,420]},{"parameters":{"resource":"audio","input":"={{ $json.text.replace(/\\n/g, \"\\\\n\").replace(/['\"]/g, '') }}","voice":"nova","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-360,500],"id":"8677ebae-2bb8-43d2-a7f3-cce747c1ea52","name":"OpenAI2"},{"parameters":{"operation":"binaryToPropery","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-200,500],"id":"44998bbf-b3a5-49d2-9695-51eb9d14aa0f","name":"Extract from File1"},{"parameters":{"method":"POST","url":"=","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey"}]},"sendBody":true,"specifyBody":"json","jsonBody":"=\n{\n    \"number\": \"{{ $('Webhook').item.json[\"body\"][\"data\"][\"key\"][\"remoteJid\"] }}\",\n    \"mediatype\": \"audio\",\n    \"mimetype\": \"audio/mpeg\",\n    \"caption\": \"\",\n    \"media\": \"{{$json.data}}\",\n    \"fileName\": \"audio.mp3\"\n}","options":{}},"id":"85b47862-2eee-4db8-993e-aade74a973bc","name":"Responde audio","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-40,500]},{"parameters":{},"id":"4219aa04-4625-4b3c-9882-a82ac641fe94","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-2920,500]},{"parameters":{"resource":"assistant","assistantId":{"__rl":true,"mode":"list","value":""},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-2140,220],"id":"0be83fb8-a67b-42c3-90d2-fd58ca8fed4c","name":"AI Agent","credentials":{"openAiApi":{"id":"Wx9DC2ilM8F6fLG7","name":"OpenAi API"}}},{"parameters":{"name":"leadQualificado","description":"=Ative essa tool somente uma vez por conversa, quando o lead aceitar agendar uma chamada com um dos nossos consultores.\n\nVocê deve criar um resumo detalhado sobre a conversa com todas as informações importantes sobre o projeto em 500-800 caracteres: Integrações, Funcionalidades, Canais de Integração, Perfil do Cliente, etc e inserir na variável {detalhes}. Por fim, você deve enviar também o telefone do lead na variável {telefone}, mas nunca peça o telefone do lead, pq o telefone do lead eu já te enviarei aqui.\n\nTelefone do Lead: {{ $('Variáveis Globais1').item.json.telefone }}","workflowId":{"__rl":true,"value":"LTLeZJpcZHF9mBHV","mode":"id"},"specifyInputSchema":true,"jsonSchemaExample":"{\n\t\"servico\": \"{servico}\",\n    \"detalhes\": \"{detalhes}\",\n    \"telefone\": \"{telefone}\"\n}"},"id":"c749ba56-3fb3-4ecb-ad33-3a9037de8733","name":"leadQualificado","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[-1860,520]},{"parameters":{"calendar":{"__rl":true,"mode":"list","value":""},"additionalFields":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-2640,600],"id":"a09a72f4-98a7-4f56-ac40-858d809d2d38","name":"Google Calendar","credentials":{"googleCalendarOAuth2Api":{"id":"wduCXlNEewxl9JSC","name":"Google Calendar account"}}},{"parameters":{"operation":"delete","calendar":{"__rl":true,"mode":"list","value":""},"options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-2480,620],"id":"2b143214-f3af-44e4-9695-8841942de553","name":"Google Calendar1","credentials":{"googleCalendarOAuth2Api":{"id":"wduCXlNEewxl9JSC","name":"Google Calendar account"}}},{"parameters":{"operation":"get","calendar":{"__rl":true,"mode":"list","value":""},"options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-2000,640],"id":"d1271bd1-94c4-4286-aaac-59c459f7a3ef","name":"Google Calendar2","credentials":{"googleCalendarOAuth2Api":{"id":"wduCXlNEewxl9JSC","name":"Google Calendar account"}}},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"mode":"list","value":""},"options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-2320,640],"id":"dd6f4ab9-be54-46c4-9735-dc3aef4eee82","name":"Google Calendar3","credentials":{"googleCalendarOAuth2Api":{"id":"wduCXlNEewxl9JSC","name":"Google Calendar account"}}},{"parameters":{"operation":"update","calendar":{"__rl":true,"mode":"list","value":""},"updateFields":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-2160,640],"id":"ea27e659-4129-4595-80a6-f92a23b097b4","name":"Google Calendar4","credentials":{"googleCalendarOAuth2Api":{"id":"wduCXlNEewxl9JSC","name":"Google Calendar account"}}}],"connections":{"Redis":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Redis1","type":"main","index":0}]]},"Redis1":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Edit Fields1","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Redis2","type":"main","index":0}]]},"Responde texto":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Redis2":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"OpenAI1","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Convert to File1","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Edit Fields4","type":"main","index":0}],[{"node":"Edit Fields4","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Edit Fields3","type":"main","index":0}],[{"node":"separa o base1","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"OpenAI2","type":"main","index":0}],[{"node":"Responde texto","type":"main","index":0}],[{"node":"Responde imagem","type":"main","index":0}],[{"node":"Responde pdf","type":"main","index":0}],[{"node":"Responde vídeo","type":"main","index":0}]]},"Responde imagem":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Responde pdf":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Responde vídeo":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Edit Fields5":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Replace Me","type":"main","index":0}],[{"node":"Wait1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Variáveis Globais":{"main":[[{"node":"Switch","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Edit Fields8","type":"main","index":0}]]},"OpenAI1":{"main":[[{"node":"Edit Fields9","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Webhook":{"main":[[{"node":"Variáveis Globais","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Redis","type":"main","index":0}]]},"Edit Fields8":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Edit Fields9":{"main":[[{"node":"Merge","type":"main","index":2}]]},"separa o base1":{"main":[[{"node":"Converte documento","type":"main","index":0}]]},"Converte documento":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"separa o telefone e texto3","type":"main","index":0}]]},"separa o telefone e texto3":{"main":[[{"node":"Merge","type":"main","index":3}]]},"OpenAI2":{"main":[[{"node":"Extract from File1","type":"main","index":0}]]},"Extract from File1":{"main":[[{"node":"Responde audio","type":"main","index":0}]]},"Responde audio":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Edit Fields5","type":"main","index":0}]]},"leadQualificado":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Google Calendar":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Google Calendar1":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Google Calendar2":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Google Calendar4":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Google Calendar3":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Webhook":[{"json":{"headers":{"host":"webhook.mavenlabs.com.br","user-agent":"axios/1.7.9","content-length":"953","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"172.18.0.1","x-forwarded-host":"webhook.mavenlabs.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"01e31697c683","x-real-ip":"172.18.0.1"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"aimarcela","data":{"key":{"remoteJid":"557196288691@s.whatsapp.net","fromMe":false,"id":"3ACF5D57A7D749C86B0A"},"pushName":"Amanda Oliveira","status":"DELIVERY_ACK","message":{"conversation":"sim","messageContextInfo":{"deviceListMetadata":{"senderKeyHash":"pfEbiJD7O/Yxmg==","senderTimestamp":"1739462417","recipientKeyHash":"aBERCClczJs7aQ==","recipientTimestamp":"1742436807"},"deviceListMetadataVersion":2,"messageSecret":"TGcnWaFueypYLsciRblyPNQ/Myb/QByTx15GE/Xd2OE="}},"messageType":"conversation","messageTimestamp":1743745107,"instanceId":"f9fbef85-3005-4762-80d7-f25d9e0be3db","source":"ios","chatwootMessageId":157028,"chatwootInboxId":38,"chatwootConversationId":67},"destination":"https://webhook.mavenlabs.com.br/webhook/aimarcela","date_time":"2025-04-04T02:38:28.105Z","sender":"557192253803@s.whatsapp.net","server_url":"https://api.mavenlabs.com.br","apikey":"781965450832-4B60-983C-75572DA5ABBD"},"webhookUrl":"https://webhook.mavenlabs.com.br/webhook/aimarcela","executionMode":"production"}}]},"versionId":"443cf599-1178-4d2f-9709-d64e66d8a066","triggerCount":0,"shared":[{"createdAt":"2025-04-28T19:41:10.247Z","updatedAt":"2025-04-28T19:41:10.247Z","role":"workflow:owner","workflowId":"r2sGSDWc3Vr0zneI","projectId":"fOnZOXT2pmTZRUit","project":{"createdAt":"2025-03-13T21:21:52.544Z","updatedAt":"2025-03-14T17:54:00.320Z","id":"fOnZOXT2pmTZRUit","name":"Diogo Henrique <work.diogoh@outlook.com>","type":"personal","icon":null,"projectRelations":[{"createdAt":"2025-03-13T21:21:52.544Z","updatedAt":"2025-03-13T21:21:52.544Z","role":"project:personalOwner","userId":"9f2e72e4-fd38-47c4-a233-b327a4c70b32","projectId":"fOnZOXT2pmTZRUit","user":{"createdAt":"2025-03-13T21:21:51.918Z","updatedAt":"2025-04-26T18:51:14.606Z","id":"9f2e72e4-fd38-47c4-a233-b327a4c70b32","email":"work.diogoh@outlook.com","firstName":"Diogo","lastName":"Henrique","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-03-14T17:56:43.378Z","personalization_survey_n8n_version":"1.82.3","automationGoalDevops":["cloud-infrastructure-orchestration"],"companySize":"<20","companyType":"systems-integrator","role":"devops","reportedSource":"youtube"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"6ZgkOC4dQAa6gxt7","userActivatedAt":1745693474588,"npsSurvey":{"responded":true,"lastShownAt":1745502495223}},"role":"global:owner","disabled":false,"mfaEnabled":false,"isPending":false,"isOwner":true}}]}}],"tags":[]}